
header .navbar-white {
	background:#ffa331;
	box-shadow:0px 3px 2px 0px rgba(50,50,50,0.1);
}

header .navbar-white a {
	color: #ffffff;
	font-weight:700;
}

.item.header {
	background-image:url(../../client/images/homeimg2.jpg);
}

.navbar-72 {
	min-height:72px!important;
}

.navbar-lg .navbar-nav>li>a {
	padding-top:26px;
	padding-bottom:26px;
	font-size:18px;
	height: 0%;
	top: 0;
	transition-duration: 0.2s;
}

.navbar-lg .navbar-nav>li>a:before{
	opacity: 0%;
}

.navbar-lg .navbar-nav>li>a:hover, .navbar-lg .navbar-nav>li>a:active {
    background: #fff;
    color: #00bba7;
    transition-duration: 0.5s;
	height: 100%;
	top: 100%;
}

.footer ul.social-iconsfooter li a {
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}

.footer ul.social-iconsfooter li a.phone:hover, .footer ul.social-iconsfooter li a.phone:active {
    background: #fff;
    color: #000;
    transition-duration: 0.5s;
	height: 100%;
	top: 100%;
}

.footer ul.social-iconsfooter li a.facebook:hover, .footer ul.social-iconsfooter li a.facebook:active {
    background: #0052cc;
    color: #fff;
    transition-duration: 0.5s;
	height: 100%;
	top: 100%;
}


.footer ul.social-iconsfooter li a.twitter:hover, .footer ul.social-iconsfooter li a.twitter:active {
    background: #66a3ff;
    color: #cce0ff;
    transition-duration: 0.5s;
	height: 100%;
	top: 100%;
}


.footer ul.social-iconsfooter li a.google:hover, .footer ul.social-iconsfooter li a.google:active {
    background: #e68a00;
    color:  #ffff80;
    transition-duration: 0.5s;
	height: 100%;
	top: 100%;
}


.footer ul.social-iconsfooter li a.pinterest:hover, .footer ul.social-iconsfooter li a.pinterest:active {
    background: #cc0000;
    color:  #fff;
    transition-duration: 0.5s;
	height: 100%;
	top: 100%;
}


.home-foot{
	color: #ffa331;
}

.productbox {
    background: #fff;
    padding: 13px 13px 5px;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
}


.productbox .vendor-thumbnail {
	object-fit: cover;
	width: 332px;
	height: 302px;
}

.productbox h1 {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 5px;
    border-bottom: double medium #eee;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-weight: 500;
    color: #00bba7
}

.productbox .product-details p {
    color: #000000;
    margin: 0 0 0px;
    text-align: center;
}

.container-toparea {
/*	text-align: left;
	margin-left: 50px;
	position: static;
	border-right-style: solid;
	border-width: 5px;
	border-color: #00bba7;
	display: inline-block;
	padding-right: 30px;*/
}

.container-toparea h1 {
	color:#ffa331;
}

.container-toparea .container-personal h2{
	color: #00bba7;
}

.container-toparea .container-personal h3,h4,h5{
	font-size: 18px;
}

.properties-box {
    padding: 20px 20px 15px 20px;
    border: 1px solid #e4e4e4;
    margin-top: 25px;
    clear: both;
    float: none;
    line-height: 1.7;
    background-color: #ffa331;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #ffa331;
    border-color: #ffa331;
}

.btn-primary:hover {
    color: #222;
    background-color: #00bba7;
    border-color: #222222;
}

.btn-primary.focus, .btn-primary:focus {
    color: #222;
    background-color: #00bba7;
    border-color: #222222;
}

.navbar-header {
    background: #00bba7;
}

.top-left-part {
    width: 240px;
    float: left;
    padding: 1px;
}

#side-menu > li > a.active {
    background: transperant;
    color: #54667a;
    border-left: 0px;
    font-weight: 500;
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
}

@media (min-width: 992px)
.col-md-4-admin {
    width: 10.33333333%;
}

.item-content-admin-dash {
    text-align: center;
}


#page-wrapper-admin {
    /* padding: 0 0 10px; */
    min-height: 10px;
    background: #edf1f5;
}

.h1.congrats{
    color:#ffa331;
}
/*.container-rightarea {
	text-align: left;
	left: 200%;
	position: relative;
	display: inline;
}*/